<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-10 col-lg-3 col-md-5 col-sm-8">
            <div class="text-center mb-2">
                <img class="img-fluid" src="https://www.instagram.com/static/images/web/logged_out_wordmark.png/7a252de00b20.png" alt="No image found"/>
            </div>
            <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
                <div class="form-group mb-2">
                    <input type="email" class="form-control" formControlName="email" placeholder="Email" autocomplete="off" required>
                    <div *ngIf="signinForm.get('email')?.errors?.required && signinFormControl.email.touched">
                        <small style="color: red;">email is required</small>
                    </div>
                </div> 
                <div class="form-group">
                    <input type="password" class="form-control" formControlName="password"  placeholder="Password" autocomplete="off" required>
                    <div *ngIf="signinForm.get('password')?.errors?.required && signinFormControl.password.touched">
                        <small style="color: red;">password is required</small>
                    </div>
                </div>
                <div class="d-grid mt-2">
                    <button [ngClass]="{'enabled': signinForm.valid, 'disabled' : !signinForm.valid }"  type="submit" class="btn btn-primary">Sign in</button>
                </div>
            </form>
            <div class="text-center mt-4">
                <small style="cursor: pointer;" (click)="navigateToForgot()">Forgot password?</small>
                <div (click)="navigateToSignup()">Don't have an account?<span style="color:#3399ff; cursor: pointer;">&nbsp;Sign up</span></div>
            </div>
        </div>
    </div>
</div>