.insta-navbar {
    position: fixed;
    z-index: 9999;

    // .search-container {
    //     .search-box {
    //         width: 18vw;
    //         height: 5vh;
    //         border-radius: 0.5vh;
    //         text-indent: 1vw;
    //         font-size: 2vh;
    //     }
    // }

    .example-spacer {
        flex: 1 1 auto;
    }
}

@media only screen and (max-width: 600px) {
    .insta-navbar {
        .search-container {
            .search-box {
                width: 42vw;
            }
        }
    }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
    .insta-navbar {
        .search-container {
            .search-box {
                width: 28vw;
                height: 3vh;
                font-size: 1.2vh;
            }
        }
    }
}