<mat-toolbar class="insta-navbar">
    <img style="cursor:pointer;" (click)="navigateToHome()" src="https://www.instagram.com/static/images/web/mobile_nav_type_logo.png/735145cfe0a4.png"/>
    <span class="example-spacer"></span>
    <form>
        <div>
            <input [matAutocomplete]="auto" (input)="handleChange($event)" placeholder="Search user..." type="text" class="form-control">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option  (click)="navigateToProfile(username)" *ngFor="let username of filteredOptions" [value]="username.name">
                  {{username.name}}
                </mat-option>
            </mat-autocomplete>
        </div>
    </form>
    <span class="example-spacer"></span>
    <mat-icon style="cursor:pointer" [matMenuTriggerFor]="menu">account_circle</mat-icon>
    <mat-menu #menu="matMenu">
        <button (click)="navigateToMyprofile()" mat-menu-item>My Profile</button>
        <button (click)="navigateToCreateUpdatePost()" mat-menu-item>Create Post</button>
        <button (click)="navigateToChat()" mat-menu-item>Let's chat</button>
        <button (click)="signoutUser()" mat-menu-item>Signout</button>
    </mat-menu>
</mat-toolbar>