<app-header></app-header>
<div class="container pt-5">
    <div class="row justify-content-center align-items-center pt-4">
        <div class="col-12 col-lg-5 col-md-10 col-sm-11">
            <div class="d-flex align-items-center gap-2">
                <div class="profileImage">{{extractInitials(userProfileDetails?.name)}}</div>
                <span class="example-spacer"></span>
                <div class="d-flex align-items-center gap-3">
                    <div class="d-inline">
                        <div class="text-center h2">{{userProfileDetails?.postsCount}}</div>
                        <div>Posts</div>
                    </div>
                    <div (click)="navigateToDashboard({'followers':userProfileDetails?.followers})" style="cursor: pointer;" class="d-inline">
                        <div class="text-center h2">{{userProfileDetails?.followers?.length}}</div>
                        <div>Followers</div>
                    </div>
                    <div (click)="navigateToDashboard({'following':userProfileDetails?.following})" style="cursor: pointer;" class="d-inline">
                        <div class="text-center h2">{{userProfileDetails?.following?.length}}</div>
                        <div>Following</div>
                    </div>
                </div>
            </div>
            <div style="font-weight: 500;" class="pt-1">{{userProfileDetails?.name}}</div>
            <button (click)="updateFollow()" type="button" class="btn btn-primary btn-sm mt-2">{{!flag ? 'Follow' : 'Unfollow'}}</button>
            <div class="d-flex flex-wrap pt-2">
                <div *ngFor="let post of filteredPostsArray">
                    <img class="img-fluid user-post" src="{{post.photo}}" />
                </div>
            </div>
        </div>
    </div>
</div>