<app-header></app-header>
<div class="container pt-5">
    <div class="row justify-content-center align-items-center pt-4">
        <div class="col-12 col-lg-5 col-md-10 col-sm-11">
            <div *ngFor="let post of postsArray.slice().reverse()">
                <div class="d-flex align-items-center gap-2">
                    <!-- <img class="img-fluid userlogo"
                        src="https://www.kindpng.com/picc/m/276-2764257_instagram-icon-instagram-logo-small-size-hd-png.png" /> -->
                    <div class="profileImage">{{extractInitials(post.postedBy.name)}}</div>
                    <div (click)="navigateToUserProfile(post)" class="username">{{post.postedBy.name}}</div>
                    <span class="example-spacer"></span>
                    <mat-icon style="cursor:pointer" [matMenuTriggerFor]="menu"
                        *ngIf="loggedInUser==post.postedBy.email">more_vert</mat-icon>
                    <mat-menu #menu="matMenu">
                        <button (click)="navigateToCreateUpdatePost(post)" mat-menu-item>Edit post</button>
                        <button (click)="deleteMyPost(post._id)" mat-menu-item>Delete Post</button>
                    </mat-menu>
                </div>
                <img class="img-fluid pt-1 userpost" src="{{post.photo}}" />
                <mat-icon style="cursor: pointer;" *ngIf="post.likes.includes(loggedInUser)" (click)="updateLikes(post._id)" class="pt-1 red-icon">favorite_border</mat-icon>
                <mat-icon style="cursor: pointer;" *ngIf="!post.likes.includes(loggedInUser)" (click)="updateLikes(post._id)" class="pt-1">favorite_border</mat-icon>
                <div style="cursor:pointer;" (click)="navigateToDashboard(post.likes)">{{post.likes.length}}&nbsp;likes</div>
                <div class="d-inline align-items-center gap-2">
                    <div class="d-flex align-items-center gap-2 pt-1">
                        <div class="username">{{post.postedBy.name}}</div>
                        <div class="post-title">{{post.title}}</div>
                    </div>
                    <div class="post-description pt-1">
                        {{post.description}}
                    </div>
                </div>
                <div class="d-inline align-items-center gap-2 pt-1">
                    <div class="d-flex gap-2" *ngFor="let comment of post.comments.slice().reverse()">
                        <span class="username">{{comment.commentedBy}}</span>
                        <span class="comment-content">
                            {{comment.comment}}
                        </span>
                        <span style="flex:1 1 auto;"></span>
                        <mat-icon *ngIf="comment.commentedBy==loggedInUserName" style="cursor: pointer;" (click)="deleteMyComment(comment._id,post._id)">delete</mat-icon>
                    </div>
                </div>
                <form [formGroup]="commentForm" (ngSubmit)="onSubmit(post)">
                    <div class="form-group mb-2">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" formControlName="comments"
                                placeholder="Add a comment..." autocomplete="off">
                            <button type="submit" class="input-group-text">Post</button>
                        </div>
                    </div>
                </form>
                <br>
            </div>
        </div>
    </div>
    <div class="spinner" *ngIf="postsArray.length==0">
        <mat-spinner></mat-spinner>
    </div>
</div>